<h6>Dashboard</h6>
<h3>Seja bem-vindo, {{name}}.</h3>
<p>Aqui estão suas histórias</p>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/edit/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'DD/MM/YYYY, HH:mm'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-formm">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Você não criou histórias ainda.</p>
{{/if}}